<!-- main container -->
<div class="container-fluid top-container-bg">
    <!-- Header -->
    <div class="row row-align">
        .<h3 class="">
            Raasko Raaja
            <small class="text-muted">chaka chaka rasey</small>
        </h3>
    </div>

    <!-- initial view -->
    <div class="main-container">
        <div class="row row-align">
            <div class="heading">
                <h3><strong>What do you want to write today?</strong></h3>
                <p class="text-muted">Let your AI assistent know clearly about what topic you want to write blog/post
                    about
                </p>
            </div>
        </div>
        <div class="row row-align">
            <h5><strong>Enter the main keywords or keyphrases</strong></h5>
            <small class="text-muted">These keywords will help us understand your article better. More keywords create
                better headlines(2 is the min. number)</small>
        </div>
        <div class="row row-align">
            <input class="key-in" placeholder="enter key word" />
        </div>
    </div>
    <!-- /initial view/ -->
</div>
<!-- /main container/ -->