.main-container{
    border: 2px solid;
    border-radius: 8px;
    background: white;
    color: black;
    padding: 10px;
    margin: auto;
    height: 600px;
}
.top-container-bg{
    // background-color: grey;
}
.row-align{
    margin: 12px;
}
.color-white{
    // color: white;
}
.key-in{
    width: 45%;
    border: solid #557172;
    border-radius: 8px;
    padding: 8px;
}