.editable{
    margin-top: 50px;
    margin-left: 100px;
    border: 1px solid blue;
    resize: vertical;
    overflow: auto;
    width: 600px;
    padding:5px
   }
   .highlight{
    border-bottom:4px solid red;
   }