<h3 style="color:blue;margin-left: 100px;">Rasko Raja</h3>

<!-- Headline Generator -->

<div *ngIf="viewComp == 'HEADLINE'" class="container">
    <!-- Headline input -->
    <div>
        <div class="row row-align">
            <div>Keywords</div>
        </div>
        <div class="row row-align">
            <input type="text" class="keyword-input" maxlength="150" placeholder="Enter key words with comma separated"
                [(ngModel)]="headlineObject.keywords" />
            <br /> <span *ngIf="headlineObject.keyWordErr" style="color:red">{{headlineObject.keywordErrMsg}}</span>
        </div>
        <div class="row row-align">
            <button *ngIf="!headlineObject.generatedHeadlines.length" type="button" class="btn btn-primary"
                (click)="onGenrateHeadline('NEW')" [disabled]="headlineObject.spin">
                <span *ngIf="!headlineObject.spin">Generate Headlines</span>
                <span *ngIf="headlineObject.spin">Generating... <i class="fa fa-spinner"></i></span>
            </button>
            <button *ngIf="headlineObject.generatedHeadlines.length" type="button" class="btn btn-primary"
                (click)="onGenrateHeadline('NEW')" [disabled]="headlineObject.spin">
                <span *ngIf="!headlineObject.spin">Generate Again</span>
                <span *ngIf="headlineObject.spin">Generating... <i class="fa fa-spinner"></i></span>
            </button>
        </div>
    </div>
    <!-- Headline results -->
    <div *ngFor="let headline of headlineObject.generatedHeadlines;let i = index">
        <div class="row" *ngIf="i % 2 == 0">
            <div class="col-6" (click)="onChecked(i)">{{i+1}} {{headline.text}}<span><input type="checkbox"
                        [checked]="headline.checked" /></span></div>
            <div class="col-6" (click)="onChecked(i+1)" *ngIf="i + 1 < headlineObject.generatedHeadlines.length">
                {{i+2}} {{headlineObject.generatedHeadlines[i+1].text}}
                <span><input type="checkbox" [checked]="headlineObject.generatedHeadlines[i+1].checked" /></span>
            </div>
        </div>
    </div>
    <div class="row row-align">
        <div class="col-6">
            <button *ngIf="headlineObject.showGenerateMore" type="button" class="btn btn-primary"
                (click)="onGenrateHeadline('MORE')" [disabled]="headlineObject.spin">
                <span *ngIf="!headlineObject.spin"> Generate more</span>
                <span *ngIf="headlineObject.spin">Generating... <i class="fa fa-spinner"></i></span>
            </button>
        </div>
        <div class="col-6">
            <button *ngIf="headlineObject.showContinue" type="button" class="btn btn-success"
                (click)="continueToIntroGen()">
                <span>Continue to Intro Gen</span>
            </button>
        </div>
    </div>

</div>
<!-- -o- Headline Generator -o- -->

<!-- Intro generator -->
<div *ngIf="viewComp == 'INTRO'" class="container">
    <div class="row row-align">
        <h4>Description:</h4>
    </div>
    <div class="row row-align">
        <textarea rows="4" cols="45" class="padding-10" placeholder="Please enter the description (min 50 char)"
            [(ngModel)]="introObject.description" (keyup)="onDescEnter()"></textarea>
    </div>
    <div class="row row-align">
        <div class="col-6" *ngIf="!introObject.generatedIntros.length">
            <button type="button" class="btn btn-primary" (click)="onGenerateIntro('NEW')"
                [disabled]="introObject.spin || introObject.disable">
                <span *ngIf="!introObject.spin"> Generate Intro</span>
                <span *ngIf="introObject.spin">Generating... <i class="fa fa-spinner"></i></span>
            </button>
        </div>
        <div class="col-6" *ngIf="introObject.generatedIntros.length">
            <button type="button" class="btn btn-primary" (click)="onGenerateIntro('NEW')"
                [disabled]="introObject.spin || introObject.disable">
                <span *ngIf="!introObject.spin"> Generate Again</span>
                <span *ngIf="introObject.spin">Generating... <i class="fa fa-spinner"></i></span>
            </button>
        </div>
    </div>

    <!-- intro results -->
    <div *ngFor="let intro of introObject.generatedIntros;let i = index">
        <div class="row margin-10" *ngIf="i % 2 == 0">
            <div class="col-6" (click)="onIntroChecked(i)">{{i+1}} {{intro.text}}<span><input type="checkbox"
                        [checked]="intro.checked" /></span></div>
            <div class="col-6" (click)="onIntroChecked(i+1)" *ngIf="i + 1 < introObject.generatedIntros.length">
                {{i+2}} {{introObject.generatedIntros[i+1].text}}
                <span><input type="checkbox" [checked]="introObject.generatedIntros[i+1].checked" /></span>
            </div>
        </div>
    </div>
    <div class="row row-align">
        <div class="col-6">
            <button *ngIf="introObject.showGenerateMore" type="button" class="btn btn-primary"
                (click)="onGenerateIntro('MORE')" [disabled]="introObject.spin">
                <span *ngIf="!introObject.spin"> Generate more</span>
                <span *ngIf="introObject.spin">Generating... <i class="fa fa-spinner"></i></span>
            </button>
        </div>
        <div class="col-6">
            <button *ngIf="introObject.showContinue" type="button" class="btn btn-success" (click)="continueToCopy()">
                <span>Continue to Editor</span>
            </button>
        </div>
    </div>
</div>

<br />

<!-- Main Section -->
<div *ngIf="viewComp=='COPY'" class="container">
    <!-- https://www.npmjs.com/package/@kolkov/angular-editor -->
    <!-- <div contenteditable="true" id="aa" (keyup)="onKeyUp($event)" class="editable"></div> -->
    <div class="row row-align">
        <div class="col-9">
            <angular-editor  [placeholder]="'Enter text here...'" [config]="editorConfig" [(ngModel)]="editorContent">
            </angular-editor>
        </div>
    </div>
    <div class="row row-align">
        <button class="btn btn-primary margin-left-15" (click)="onCopySubmit()" [disabled]="copyObject.spin" >
            <span *ngIf="!copyObject.spin">Submit</span>
            <span *ngIf="copyObject.spin">Generating..</span>
        </button>
    </div>
</div>

<!-- <div class="container">
    <div class="row"><h3>Prompt:</h3></div>
    <div class="row">{{prompt}}</div>
</div> -->