.sidebar {
    box-shadow: 0px 0px 10px #d3d3d3;
    position: relative;
    background-color: #f7f7f7;
    // width: 20%;
    height: 100%;
}
.main-content {
    background-color: #f2f5fa;
    // width: 98%;
    // height: 103vh;
    // display: flex;
    align-items: center;
    justify-content: center;
}
.main-content-box {
    background-color: #f7f7f7;
    box-shadow: 0px 0px 10px #d3d3d3;
    min-width: 600px;
    min-height: 300px;
    height: 100vh;
}
.header-txt {
    font-weight: 700;
    font-size: 22px;
}
.subtxt {
    color: #a5a9b3;
    font-size: 14px;
}
.search-highlight {
    border-left: 3px solid #fc9f57;
}
.search-block {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
}
.main-box{
    min-width: 95%;
    min-height: 95%;
}
.headlines-list {
    list-style: none;
    padding-left: 0;
    padding: 10px;
}
.headlines-list > li {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}
.li-selected {
    background: #D8E8F5;
}
.header-list-item{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #413294;
    color: white;
}
.great{
    color: #e08231;
}

// 
.pointer{
    cursor: pointer;
}

.h-item{
    border: 2px solid #D8E8F5;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
}

.h-selected{
    background: #D8E8F5;
}
.h-100{
    height: 100%;
}

// over riding

.angular-editor{
    background: #ffff !important;
}

.doc-header {
    width: 100%;
}

// ::ng-deep angular-editor .angular-editor-textarea {
//     width: 75%;
//     margin-left: auto;
// }

// ::ng-deep angular-editor .angular-editor-wrapper  {
//     display: flex;
// }