<div class="d-flex vh-100">
    <div class="sidebar">
        <app-sidebar (selectedItemEvent)="selectedItem($event)"></app-sidebar>
    </div>
    <div class="main-content">
        <div class='main-content-box main-box' [ngSwitch]="selectedItemName">
            <div *ngSwitchCase="'home'">
                <ng-container *ngTemplateOutlet="homeTemplate">
                </ng-container>
            </div>
            <div *ngSwitchCase="'intro'">
                <ng-container *ngTemplateOutlet="introTemplate">
                </ng-container>
            </div>
            <div *ngSwitchCase="'copy'">
                <ng-container *ngTemplateOutlet="copyTemplate">
                </ng-container>
            </div>
            <div *ngSwitchDefault>Please select one from list.</div>
        </div>
    </div>
</div>

<ng-template #homeTemplate>
    <div class="p-4">
        <span class="header-txt">What do you want to write today?</span><br>
        <span class="subtxt">Let your AI assistant know clearly about what topic you want to write blog/post
            about</span>
    </div>
    <div class="search-highlight">
        <div class="search-block">
            <span class="font-weight-bold">Enter the main keywords or keyphrases</span>
            <span class="font-weight-bold">{{headlineObject.inputList.length}} of 5</span>
        </div>
        <div class="pl-4 pr-4">
            <span class="subtxt">These keywords will help us understand your article better. More keywords create better
                headlines (2
                is the minimum number)</span><br>
                <input type="text" maxlength="150" [(ngModel)]="headlineObject.keywords" (keyup)="keyWordEnter()"
                 class="form-control" placeholder="Ex: Uses of Protien Shake, Bodybuilding,.....">
                 <br /> <span *ngIf="headlineObject.keyWordErr" style="color:red">{{headlineObject.keywordErrMsg}}</span>
        </div>
        <div class="p-4">
            <button *ngIf="!headlineObject.generatedHeadlines.length" class="btn btn-primary" (click)="onGenrateHeadline('NEW')"
                [disabled]="headlineObject.spin"><span *ngIf="!headlineObject.spin">Generate Headlines</span>
                <span *ngIf="headlineObject.spin">Generating... <i class="fa fa-spinner"></i></span></button>
            <button *ngIf="headlineObject.generatedHeadlines.length" type="button" class="btn btn-primary"
                (click)="onGenrateHeadline('NEW')" [disabled]="headlineObject.spin">
                <span *ngIf="!headlineObject.spin">Generate Again</span>
                <span *ngIf="headlineObject.spin">Generating... <i class="fa fa-spinner"></i></span>
            </button>
        </div>
    </div>
    <div class="p-4" *ngIf="headlineObject.generatedHeadlines.length">
        <span class="font-weight-bold">Generated Headlines</span>
    </div>
    <div class="p-3" *ngIf="headlineObject.generatedHeadlines.length">
        <div *ngFor="let headline of headlineObject.generatedHeadlines;let i = index">
            <ul class="headlines-list">
                <div class="row" *ngIf="i % 2 == 0">
                    <div class="col-6">
                        <li  class="d-flex align-items-center"
                       [ngClass]="{'li-selected': headline.selected}" (click)="onChecked(i)">
                        <!-- <i [class]="item.icon"></i> -->
                        <span class="pl-3 header-list-item"> {{i+1}} {{headline?.text}}
                            <input type="checkbox" [checked]="headline.checked" />
                        </span>
                    </li>
                    </div>
                    <div class="col-6" *ngIf="i + 1 < headlineObject.generatedHeadlines.length">
                        <li  class="d-flex align-items-center"
                         [ngClass]="{'li-selected': headline.selected}" (click)="onChecked(i+1)">
                         <!-- (click)="listSelected(item)" -->
                        <!-- <i [class]="item.icon"></i> --> 
                        <span class="pl-3 header-list-item"> {{i+2}} {{headlineObject.generatedHeadlines[i+1].text}}
                            <input type="checkbox" [checked]="headlineObject.generatedHeadlines[i+1].checked" />
                        </span>
                    </li>
                    </div>
                </div>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <button *ngIf="headlineObject.showGenerateMore" type="button" class="btn btn-primary"
                (click)="onGenrateHeadline('MORE')" [disabled]="headlineObject.spin">
                <span *ngIf="!headlineObject.spin"> Generate more</span>
                <span *ngIf="headlineObject.spin">Generating... <i class="fa fa-spinner"></i></span>
            </button>
        </div>
        <div class="col-6">
            <button *ngIf="headlineObject.showContinue" type="button" class="btn btn-success"
                (click)="continueToIntroGen()">
                <span>Continue to Intro Gen</span>
            </button>
        </div>
    </div>
</ng-template>

<ng-template #introTemplate>
    <div class="p-4">
        <h3 class="font-weight-bold great" >Great!</h3>
        <span class="subtxt">You can edit headline afterwards as well</span>
    </div>
    <div class="p-4">
        <div class="subtxt font-weight-bold">Headline</div>
        <span class="font-weight-bold great">{{headlineObject?.selectedHeadlines[0].text}}</span>
    </div>
    <div class="p-4">
        <div class="subtxt font-weight-bold">Description</div>
        <textarea rows="5" cols="45" class="padding-10 form-control" placeholder="Please enter the description (min 50 char)"
        [(ngModel)]="introObject.description" (keyup)="onDescEnter()"></textarea>
    </div>
    <div class="p-4">
        <div class="row">
            <div class="col-6" *ngIf="!introObject.generatedIntros.length">
                <button type="button" class="btn btn-primary" (click)="onGenerateIntro('NEW')"
                    [disabled]="introObject.spin || introObject.disable">
                    <span *ngIf="!introObject.spin"> Generate Intro</span>
                    <span *ngIf="introObject.spin">Generating... <i class="fa fa-spinner"></i></span>
                </button>
            </div>
            <div class="col-6" *ngIf="introObject.generatedIntros.length">
                <button type="button" class="btn btn-primary" (click)="onGenerateIntro('NEW')"
                    [disabled]="introObject.spin || introObject.disable">
                    <span *ngIf="!introObject.spin"> Generate Again</span>
                    <span *ngIf="introObject.spin">Generating... <i class="fa fa-spinner"></i></span>
                </button>
            </div>
        </div>

        <div class="p-3">
            <div *ngFor="let intro of introObject.generatedIntros;let i = index">
                <ul class="headlines-list">
                    <div class="row" *ngIf="i % 2 == 0">
                        <div class="col-6">
                            <li  class="d-flex align-items-center"
                           [ngClass]="{'li-selected': intro.selected}" (click)="onIntroChecked(i)">
                            <!-- <i [class]="item.icon"></i> -->
                            <span class="pl-3 header-list-item"> {{i+1}} {{intro?.text}}
                                <input type="checkbox" [checked]="intro.checked" />
                            </span>
                        </li>
                        </div>
                        <div class="col-6" *ngIf="i + 1 < introObject.generatedIntros.length">
                            <li  class="d-flex align-items-center"
                             [ngClass]="{'li-selected': intro.selected}" (click)="onIntroChecked(i+1)">
                             <!-- (click)="listSelected(item)" -->
                            <!-- <i [class]="item.icon"></i> --> 
                            <span class="pl-3 header-list-item"> {{i+2}} {{introObject.generatedIntros[i+1].text}}
                                <input type="checkbox" [checked]="introObject.generatedIntros[i+1].checked" />
                            </span>
                        </li>
                        </div>
                    </div>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <button *ngIf="introObject.showGenerateMore" type="button" class="btn btn-primary"
                    (click)="onGenerateIntro('MORE')" [disabled]="introObject.spin">
                    <span *ngIf="!introObject.spin"> Generate more</span>
                    <span *ngIf="introObject.spin">Generating... <i class="fa fa-spinner"></i></span>
                </button>
            </div>
            <div class="col-6">
                <button *ngIf="introObject.showContinue" type="button" class="btn btn-success" (click)="continueToCopy()">
                    <span>Continue to Editor</span>
                </button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #copyTemplate>
    <div class="row row-align">
        <div class="col-9">
            <angular-editor  [placeholder]="'Enter text here...'" [config]="editorConfig" [(ngModel)]="editorContent">
            </angular-editor>
        </div>
    </div>
    <div class="row row-align">
        <button class="btn btn-primary margin-left-15" (click)="onCopySubmit()" [disabled]="copyObject.spin" >
            <span *ngIf="!copyObject.spin">Submit</span>
            <span *ngIf="copyObject.spin">Generating..</span>
        </button>
    </div>
</ng-template>