<div class="container-fluid vh-100">
    <div class="row">
        <div class="col-3 col-md-3 position-fixed p-0 sidebar">
            <div class="" *ngIf="viewComp != 'copy'">
                <app-sidebar (selectedItemEvent)="selectedItem($event)"></app-sidebar>
            </div>
        </div>
        <div class="col-9 col-md-9 offset-3 p-0">
            <div class="main-content">
                <div class='main-content-box main-box' [ngSwitch]="selectedItemName">
                    <div *ngSwitchCase="'home'">
                        <ng-container *ngTemplateOutlet="homeTemplate">
                        </ng-container>
                    </div>
                    <div *ngSwitchCase="'intro'">
                        <ng-container *ngTemplateOutlet="introTemplate">
                        </ng-container>
                    </div>
                    <div *ngSwitchCase="'copy'">
                        <ng-container *ngTemplateOutlet="copyTemplate">
                        </ng-container>
                    </div>
                    <div *ngSwitchDefault>Please select one from list.</div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #homeTemplate>
    <div>
        <div class="p-4">
            <span class="header-txt">What do you want to write today?</span><br>
            <span class="subtxt">Let your AI assistant know clearly about what topic you want to write blog/post
                about</span>
        </div>
        <div class="search-highlight">
            <div class="search-block">
                <span class="font-weight-bold">Enter the main keywords or keyphrases</span>
                <span class="font-weight-bold">{{headlineObject.inputList.length}} of 5</span>
            </div>
            <div class="pl-4 pr-4">
                <span class="subtxt">These keywords will help us understand your article better. More keywords create
                    better
                    headlines (2
                    is the minimum number)</span><br>
                <input type="text" maxlength="150" [(ngModel)]="headlineObject.keywords" (keyup)="keyWordEnter()"
                    class="form-control" placeholder="Ex: Uses of Protien Shake, Bodybuilding,.....">
                <br /> <span *ngIf="headlineObject.keyWordErr" style="color:red">{{headlineObject.keywordErrMsg}}</span>
            </div>
            <div class="p-4">
                <button *ngIf="!headlineObject.generatedHeadlines.length" class="btn btn-primary"
                    (click)="onGenrateHeadline('NEW')" [disabled]="headlineObject.spin"><span
                        *ngIf="!headlineObject.spin">Generate Headlines</span>
                    <span *ngIf="headlineObject.spin">Generating...</span></button>
                <button *ngIf="headlineObject.generatedHeadlines.length" type="button" class="btn btn-primary"
                    (click)="onGenrateHeadline('NEW')" [disabled]="headlineObject.spin">
                    <span *ngIf="!headlineObject.spin">Generate Again</span>
                    <span *ngIf="headlineObject.spin">Generating...</span>
                </button>
            </div>
        </div>
        <div class="p-4" *ngIf="headlineObject.generatedHeadlines.length">
            <span class="font-weight-bold">Generated Headlines</span>
        </div>
        <div class="p-3" *ngIf="headlineObject.generatedHeadlines.length">
            <div class="row">
                <div class="col-sm-6 mb-2" *ngFor="let headline of headlineObject.generatedHeadlines;let i = index">
                    <div class="card h-item p-0" (click)="onChecked(i)">
                        <div class="card-body" [ngClass]="{'h-selected' : headline.checked}">
                            <div class="form-check-inline">
                                <input type="checkbox" class="form-check-input pointer" id="" name="vehicle1" value="something" [checked]="headline.checked">
                                <label class="form-check-label pl-3 pointer" for="check1">
                                    <span class="">{{headline?.text}} </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-5">
            <div class="col-3">
                <button *ngIf="headlineObject.showGenerateMore" type="button" class="btn btn-primary"
                    (click)="onGenrateHeadline('MORE')" [disabled]="headlineObject.spin">
                    <span *ngIf="!headlineObject.spin"> Generate More</span>
                    <span *ngIf="headlineObject.spin">Generating...</span>
                </button>
            </div>
            <div class="col-3">
                <button *ngIf="headlineObject.showContinue" type="button" class="btn btn-success"
                    (click)="continueToIntroGen()">
                    <span>Continue</span>
                </button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #introTemplate>
    <div class="p-4">
        <h3 class="font-weight-bold great" >Great!</h3>
        <span class="subtxt">You can edit headline afterwards as well</span>
    </div>
    <div class="p-4">
        <div class="subtxt font-weight-bold">Headline</div>
        <span class="font-weight-bold great">{{headlineObject?.selectedHeadlines[0].text}}</span>
    </div>
    <div class="p-4">
        <div class="subtxt font-weight-bold">Description</div>
        <textarea rows="5" cols="45" class="padding-10 form-control" placeholder="Please enter the description (min 50 char)"
        [(ngModel)]="introObject.description" (keyup)="onDescEnter()"></textarea>
    </div>
    <div class="p-4">
        <div class="row">
            <div class="col-6" *ngIf="!introObject.generatedIntros.length">
                <button type="button" class="btn btn-primary" (click)="onGenerateIntro('NEW')"
                    [disabled]="introObject.spin || introObject.disable">
                    <span *ngIf="!introObject.spin"> Generate Intro</span>
                    <span *ngIf="introObject.spin">Generating...</span>
                </button>
            </div>
            <div class="col-6" *ngIf="introObject.generatedIntros.length">
                <button type="button" class="btn btn-primary" (click)="onGenerateIntro('NEW')"
                    [disabled]="introObject.spin || introObject.disable">
                    <span *ngIf="!introObject.spin"> Generate Again</span>
                    <span *ngIf="introObject.spin">Generating...</span>
                </button>
            </div>
        </div>


        <div class="p-3" *ngIf="introObject.generatedIntros.length">
            <div class="row">
                <div class="col-sm-6 mb-2" *ngFor="let intro of introObject.generatedIntros;let i = index">
                    <div class="card h-item p-0" (click)="onIntroChecked(i)">
                        <div class="card-body" [ngClass]="{'h-selected' : intro.checked}">
                            <div class="form-check-inline">
                                <input type="checkbox" class="form-check-input pointer" id="" name="vehicle1" value="something" [checked]="intro.checked">
                                <label class="form-check-label pl-3 pointer" for="check1">
                                    <span class="">{{intro?.text}} </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <button *ngIf="introObject.showGenerateMore" type="button" class="btn btn-primary"
                    (click)="onGenerateIntro('MORE')" [disabled]="introObject.spin">
                    <span *ngIf="!introObject.spin"> Generate More</span>
                    <span *ngIf="introObject.spin">Generating...</span>
                </button>
            </div>
            <div class="col-6">
                <button *ngIf="introObject.showContinue" type="button" class="btn btn-success" (click)="continueToCopy()">
                    <span>Continue</span>
                </button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #copyTemplate>
    <div class="row p-3">
        <div class="col-9">
            <angular-editor  [placeholder]="'Enter text here...'" [config]="editorConfig" [(ngModel)]="editorContent">
            </angular-editor>
        </div>
    </div>
    <div class="row p-5">
        <button class="btn btn-primary margin-left-15" (click)="onCopySubmit()" [disabled]="copyObject.spin" >
            <span *ngIf="!copyObject.spin">Submit</span>
            <span *ngIf="copyObject.spin">Generating..</span>
        </button>
    </div>
</ng-template>